@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.MyTvListHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5%;
	background-color: #3c2f2f;
}

#bezove {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #fff4e6;
	text-decoration: none;
	transition: all 0.3s ease 0s
}

#tmave {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #3c2f2f;
	text-decoration: none;
	transition: all 0.3s ease 0s
}

#bezove:hover {
	color: 	#be9b7b;
}

#tmave:hover {
	color: rgba(255,244,230,0.8);
}

#nav_menu {
	font-size: 20px;
	position: relative;
	right: 0px;
	cursor: pointer;
	color: #fff4e6;
}
.MyTvListHeader a.active {
  background-color: #2196F3;
  color: white;
}

.MyTvListHeader .nav_links {
	list-style: none;
}

.MyTvListHeader .nav_links li {
	display: inline-block;
	padding: 0px 20px;

}

.MyTvListHeader .nav_links li a:hover {
	color: 	#be9b7b;
}

.MyTvListHeader .user_button button {
	display: block;
	padding: 9px 25px;
	background-color: rgba(255,244,230,1);
	color: #3c2f2f;
	border: none;
	border-radius: 40px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	margin: auto;
	text-align: center;
}

.MyTvListHeader button:hover {
	background-color: rgba(255,244,230,0.8);
}

.MyTvListHeader .search_container {
	position: relative;
}
.MyTvListHeader .search_container .search_box {
	width: 430px;
	background: #fff;
	height: 40px;
	border-radius: 5px;
	display: flex;
	padding: 10px;
	box-shadow: 0 8px 6px -10px #b3c6ff;
}

.MyTvListHeader .search_container .search_box .dropdown {
	width: 150px;
	border-right: 2px solid #dde2f1;
	color: #3c2f2f;
	position: relative;
	cursor: pointer;
}

.MyTvListHeader .search_container .search_box .dropdown .default {
	text-transform: uppercase;
	padding-left: 10px;
	padding-bottom: 5px;
	font-size: 16px;
	user-select: none;
}
.MyTvListHeader .search_container .search_box .dropdown ul {
	display: none;
	position: absolute;
	top: 35px;
	left: -10px;
	background: #fff;
	width: 150px;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 8px 8px 6px -10px #b3c6ff;
	background: #fff;
}

.MyTvListHeader .search_container .search_box .dropdown ul.active {
	display: block;
}

.MyTvListHeader .search_container .search_box .dropdown ul li {
	padding-bottom: 10px;
	padding-left: 14px;
	color: #3c2f2f;
	user-select: none;
	transition: all 0.3s ease 0s;
}

.MyTvListHeader .search_container .search_box .dropdown ul li:last-child {
	padding-bottom: 0;
}

.MyTvListHeader .search_container .search_box .dropdown ul li:hover {
	color: #be9b7b;
}

.MyTvListHeader .search_container .search_box .dropdown:before {
	content: "";
	position: absolute;
	top: 8px;
	right: 8px;
	border: 8px solid;
	border-color: black transparent transparent transparent;
}

.MyTvListHeader .search_container .search_box .search_field {
	width: 280px;
	height: 100%;
	position: relative;
}

.MyTvListHeader .search_container .search_box .search_field.active .autocom_box {
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
}

.MyTvListHeader .search_container .search_box .search_field.active .autocom_box li {
	display: block;
}

.MyTvListHeader .search_container .search_box .search_field .input {
	width: 100%;
	height: 100%;
	border: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #3c2f2f;
	padding-left: 10px;
	padding-right: 23px;
}

.MyTvListHeader .search_container .search_box .search_field .fas {
	position: absolute;
	top: 0;
	right: 3px;
	font-size: 20px;
	color: #3c2f2f;;
	cursor: pointer;
}

.MyTvListHeader .search_container .search_box .search_field .autocom_box {
	overflow-y: auto;
	position: absolute;
	top: 35px;
	left: -4px;
	background: #fff;
	width: 280px;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 8px 8px 6px -10px #b3c6ff;
	background: #fff;
	opacity: 0;
	pointer-events: none;
}

.MyTvListHeader .search_container .search_box .search_field .autocom_box li {
	list-style: none;
	padding-bottom: 10px;
	color: #3c2f2f;
	display: none;
}
.MyTvListHeader .search_container .search_box .search_field .autocom_box li:last-child {
	padding-bottom: 0;
}

.MyTvListHeader .search_container .search_box .search_field .autocom_box li:hover {
	color: #be9b7b;
}

.main {
	box-sizing: border-box;
	display: block;
	width: 1080px;	
	margin-left: auto;
	margin-right: auto;
	height: 800px;
}

.content_wrapper {
	box-sizing: content-box;
	display: block;
	float: left;
	max-width: 869px;
	width: 869px;
	border-style: solid;
	border: 10px;
	//background: #fff4e6;
}

.content_wrapper .title_block {
	box-sizing: border-box;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
}

.content_wrapper .title_block .title_bar {
	padding-left: 20px;
	padding-right: 20px;
}

.content_wrapper .title_block .title_bar h1 {
	box-sizing: border-box;
	display: block;
	font-weight: 600;
	font-size: 36px;
	font-stretch: 100%;
	line-height: 40px;
	padding-bottom: 3px;
	color: #3c2f2f;
	text-align: center;
}

.content_wrapper .title_block .title_bar h1 span {
	box-sizing: border-box;
	font-size: 25px;
	font-stretch: 100%;
	font-weight: 500;
	line-height: 25px;
}

.content_wrapper .slate_wrapper {
	display: block;
	height: 400px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 2px;
}

.content_wrapper .slate_wrapper img {
	float: left;
	display: block;
}

.content_wrapper .slate_wrapper iframe {
	float: right;
	display: block;
}

.content_wrapper .show_summary {
	border-top-color: #3c2f2f;
	border-top-style: solid;
	border-top-width: 1px;
	display: block;
	width: 100%;
}

.content_wrapper .show_summary .plot_summary {
	display: block;
	padding: 15px 20px 15px 20px;
}
.content_wrapper .show_summary .plot_summary .plot_overview {
	display: block;
	padding-bottom: 15px;
}

.content_wrapper .show_summary .plot_summary .plot_overview .plot_overview_text {
	display: block;
	font-size: 14px;
	line-height: 18px;
}

.content_wrapper .show_summary .plot_summary .airdate {
	padding-bottom: 5px;
	display: block;
	font-size: 14px;
	line-height: 15px;
}

.content_wrapper .show_summary .plot_summary .show_review {
	box-sizing: content-box;
	display: block;
	height: 25px;
}

.content_wrapper .show_summary .plot_summary .show_review .rating {
	display: inline-block;
	font-size: 16px;
}

.content_wrapper .show_summary .plot_summary .show_review .divider {
	border-left-color: #3c2f2f;
	border-left-style: solid;
	border-left-width: 1px:
	color: #3c2f2f;
	display: inline-block;
	height: 15px;
	margin: 0px 5px;
	padding: 0;
	vertical-align: top;
	width: 1px;
}

.content_wrapper .show_summary .plot_summary .show_review .rating_numbers {
	display: inline-block;
	font-size: 16px
}

.content_wrapper .redirect_wrapper {
	display: block;
	width: 50px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.recommended_wrapper {
	display: block;
	box-sizing: content-box;
	max-width: 199px;
	float: right;
	position: relative;
	width: 199px;
	//background-color: grey;
}

.recommended_wrapper .recommended_title {
	padding: 5px 5px;
	text-align: center;
}

#recommended_title {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #3c2f2f;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

#recommended_title:hover {
	color: rgba(60, 47, 47, 0.8);
}

.recommended_wrapper img {
	width: 198px;
	height: 297px;
	padding-bottom: 5px;
}





aside {
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 32px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .username {
	font-size: 20px;
	font-weight: 500;
	color: #fff4e6;
	text-align: center;
}

.sidenav .image_wrapper {
	width: 100%;
}

.sidenav .image_wrapper img {
	position: relative;
	width: 220px;
	height: 160px;
	padding: 0 30px;
	margin: auto;
	text-align: center;
}

.main_showpage {
    box-sizing: border-box;
	display: block;
	width: 870px;	
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.cast {
	box-sizing: content-box;
	display: block;
	width: 100%;
}

.cast .castM {
	overflow: hidden;
	width: 100%;
	padding: 20px 20px;
	display: block;
	text-align: center;
	float: left;
}

.cast .castM img {
	width: 180px;
	height: 270px;
	display: block;
}

.cast .castM .castM_info {
	display: block;
	padding: 18.75px 10px;
	text-align: center;
	vertical-align: center;
}

.cast .castM .castM_info .castM_name {
	display: block;
	font-size: 20px;
	font-weight: 500;
	color: #3c2f2f;
}

.cast .castM .castM_info .castM_charname {
	display: block;
	font-size: 20px;
	font-weight: 500;
	color: #3c2f2f;
}

::-webkit-input-placeholder{
	color: #3c2f2f;
}

::-moz-input-placeholder{
	color: #3c2f2f;
}

::-ms-input-placeholder{
	color: #3c2f2f;
}

.clickable{
	cursor: pointer;
}



* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: none;
}
