.MyTvListHeader {
	overflow: auto;
	background-color: #e9e9e9;
	position: relative;
}

.MyTvListHeader a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	top: 50%;
}

.MyTvListHeader a:hover {
	background-color: #ddd;
	color: black;
}

.MyTvListHeader a.active {
  background-color: #2196F3;
  color: white;
}

.MyTvListHeader .search_container {
	float: right;
	margin-top: 16px;
	margin-right: 8px;
	border: none;
	cursor: pointer;
	background-color: white;
}

.MyTvListHeader input[type=text] {
	float: right;
	border: none;
	font-size: 17px;
	height: 33px;
}

.MyTvListHeader .links {
	position: absolute;
	bottom: 0;
}

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0px;

}

        <nav>
            <!-- nav bar with links to each major page in the site -->
            <ul class="nav_links">

                <li><a href="{% url 'MyTvList:index' %}">Homepage</a></li>
                <li><a href="{% url 'MyTvList:topshows' %}">Top shows</a></li>
                <li><a href="{% url 'MyTvList:recommended' %}">Recommended for you</a></li>
                <li><a href="{% url 'MyTvList:add_show' %}">Add a show</a></li>
                <li>
                    <div class="search_container">
                        <table class="elements_container">
                            <tr>
                                <form action="search" role="search">
                                    <td>
                                        <input type="text" placeholder="Search shows/users" name="search" class="search">
                                    </td>
                                    <td>
                                        <button>
                                            <i class="material-icons">search</i>
                                        </button>
                                    </td>
                                </form>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </nav>

.MyTvListHeader .search_container {
	cursor: pointer;
	border: 4px solid #fff4e6;
	padding: 0px 10px;
	border-radius: 50px;
	background-color: #fff4e6;
}

.MyTvListHeader .search_container .elements_container {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	color: #3c2f2f;
}

.MyTvListHeader .search_container .search {
	border: none;
	height: 100%;
	width: 100%;
	padding: 0px 5px;
	border-radius: 50px;
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #3c2f2f;
	text-decoration: none;
	background-color: #fff4e6;
}

.MyTvListHeader .search_container .search:focus {
	outline: none;
}


.MyTvListHeader .search_container button {
	color: #3c2f2f;
	background-color: #fff4e6;	
}