{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Tv List
{% endblock %}

{% block section_block %}
<form action="login">
	<h2>
		Create an Account
	</h2>
	<p>please enter a username:</p>
		<input type="text" placeholder="username">
	<p>please enter a password:</p>
		<input type="password" placeholder="password">
	<p>please re-enter password:</p>
		<input type="password" placeholder="re-enter password">
	<br>
	<input type="submit">
</form>
<a href="createAccount.html">
	create an account
</a>
{% endblock %}