{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Tv List
{% endblock %}

{% block section_block %}
	<h2>
		Create an Account
	</h2>
<form id="user_form" method="post" action="{% url 'MyTvList:createAccount' %}" 
	  enctype="multipart/form-data">

	{% csrf_token %}

	<!--Display each form-->

	{{ user_form.as_p }}
	{{ profile_form.as_p }}
	
	<!--Provide a button to click to submit the form.-->
	<input type="submit" name="submit" value = "createAccount" />
	
</form>

{% endblock %}