{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	My Tv List
{% endblock %}
	
{% block section_block %}
{% if popular %}
<article>
	<div class="topShow">
		<!-- this section displays the top rated show -->
		<!-- I replaced the youtube video with an image here-->
		<img src = "{{ popular.image }}">
		<h2>
			{{ popular.name }}
		</h2>
		<p1>
			{{ popular.description }}
		</p1>
	</div>
</article>
{% else %}
<p>Cannot retreive a popular show</p>
{% endif %}
{% if recs %}
<aside>
	<h2>
		recommended for you
	</h2>
	<table>
		{% for rec in recs %}
		<tr>
			<th>
			<div Class="recommendedShow">
				<!-- this section displays an entry for the recommended shows list -->
				<img src="{{ rec.poster_path }}" alt="thumbnail">
				<h3>
					{{ rec.title }}
				</h3>
				<div Class="ratings">
					{{ rec.rating }}
				</div>
			</div>
		</th>
		</tr>
	</table>
	
	<!-- link leads to the recommended page -->
	<a href="recommended.html">see more</a>
</aside>
{% endblock %}