{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	Recommended
{% endblock %}
{% if user.is_authenticated %}
{% block section_block %}

	{% if recs %}
	<table>
		<tr>
			{% for rec in recs %}
			<th>
				<div Class="recommendedShow">
					<!-- this section displays an entry for the recommended shows list -->
					<img src="{{ rec.poster_path }}" alt="thumbnail">
					<h3>
						{{ rec.title }}
					</h3>
					<p>{{ rec.tagline }}</p>
					<div Class="ratings">
						{{ rec.rating }}
					<!-- Ratings still to be sorted -->
					</div>
				</div>
			</th>
			{% endfor %}
		</tr>
	</table>
	{% else %}
	<p>No Reccomendations for you user</p>
	{% endif %}
{% else %}
	<p>Log In or Register to see recommendations</p>
{% endif %}
{% endblock %}