{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	Search Result
{% endblock %}

{% block section_block %}
<!-- main body of the page -->	
<!-- another search bar for improved usability with the same function as the one in the top right corner -->
<div class="searchBar">
	<form action="search">
			<input type="text" placeholder="Search shows/users" name="search">
			<button type="submit">Submit</button>
	</form>
	</div>

<table>
	<tr>
		<th>
			<div Class="recommendedShow">
				<!-- this section displays an entry for the recommended shows list -->
				<img src="Thumbnail.jpg" alt="thumbnail">
				<h3>
					Show title
				</h3>
				<div Class="ratings">
					<img src="rating1.jpg">
					<img src="rating2.jpg">
					<img src="rating3.jpg">
					<img src="rating4.jpg">
					<img src="rating5.jpg">
				</div>
	
				<p>
					description
				</p>
			</div>
		</th>
		<th>
			<div Class="recommendedShow">
				<!-- this section displays an entry for the recommended shows list -->
				<img src="Thumbnail.jpg" alt="thumbnail">
				<h3>
					Show title
				</h3>
				<div Class="ratings">
					<img src="rating1.jpg">
					<img src="rating2.jpg">
					<img src="rating3.jpg">
					<img src="rating4.jpg">
					<img src="rating5.jpg">
				</div>
	
				<p>
					description
				</p>
			</div>
		</th>
		<th>
			<div Class="castMember">
				<!-- this section displays an entry for the recommended shows list -->
				<img src="Thumbnail.jpg" alt="thumbnail">
				<h3>
					cast name
				</h3>
			</div>
		</th>
	</tr>
</table>
	<p>
		description
	</p>
</div>
{% endblock %}