{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	Search Result
{% endblock %}

{% block section_block %}
<article>
	<div class="Show">
		<!-- this section displays info about the show -->
		<iframe src="https://youtube.com/embed/"></iframe>
		<h2>
			show title
		</h2>
		<div Class="ratings">
			<img src="rating1.jpg">
			<img src="rating2.jpg">
			<img src="rating3.jpg">
			<img src="rating4.jpg">
			<img src="rating5.jpg">
		</div>
		<p1>
			description
		</p1>
	</div>
	<div Class="reviews">
		<table>
		<tr>
			<th>
				<div Class="review">
					<!-- this section displays an entry for the review list -->
					<img src="Thumbnail.jpg" alt="thumbnail">
					<h3>
						Username
					</h3>
					<div Class="ratings">
						<img src="rating1.jpg">
						<img src="rating2.jpg">
						<img src="rating3.jpg">
						<img src="rating4.jpg">
						<img src="rating5.jpg">
					</div>
					<p>
						review
					</p>
				</div>
			</th>
		</tr>
		<tr>
			<th>
				<div Class="review">
					<!-- this section displays an entry for the review list -->
					<img src="Thumbnail.jpg" alt="thumbnail">
					<h3>
						Username
					</h3>
					<div Class="ratings">
						<img src="rating1.jpg">
						<img src="rating2.jpg">
						<img src="rating3.jpg">
						<img src="rating4.jpg">
						<img src="rating5.jpg">
					</div>
					<p>
						review
					</p>
				</div>
			</th>
		</tr>
		<tr>
			<th>
				<div Class="review">
					<!-- this section displays an entry for the review list -->
					<img src="Thumbnail.jpg" alt="thumbnail">
					<h3>
						Username
					</h3>
					<div Class="ratings">
						<img src="rating1.jpg">
						<img src="rating2.jpg">
						<img src="rating3.jpg">
						<img src="rating4.jpg">
						<img src="rating5.jpg">
					</div>
					<p>
						review
					</p>
				</div>
			</th>
		</tr>
	</table>
	</div>
</article>

<aside>
	<h2>
		Cast
	</h2>
	<table>
		<tr>
			<th>
				<div Class="castMember">
					<!-- this section displays an entry for the cast list -->
					<img src="Thumbnail.jpg" alt="thumbnail">
					<h3>
						cast name
					</h3>
				</div>
			</th>
		</tr>
		<tr>
			<th>
				<div Class="castMember">
					<!-- this section displays an entry for the cast list -->
					<img src="Thumbnail.jpg" alt="thumbnail">
					<h3>
						cast name
					</h3>
				</div>
			</th>
		</tr>
		<tr>
			<th>
				<div Class="castMember">
					<!-- this section displays an entry for the cast list -->
					<img src="Thumbnail.jpg" alt="thumbnail">
					<h3>
						cast name
					</h3>
				</div>
			</th>
		</tr>
	</table>
</aside>
{% endblock %}