{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	Search Result
{% endblock %}

{% block section_block %}
<article>
	<div class="Show">
		<!-- this section displays info about the show -->
		<h2>
			{{ title }}
		</h2>
		<img src = "{{ MEDIA_URL}}{{ imgFile }}", width = 200px, height = 300px>

		{{ rating }}
		</div>
		<p1>
			{{ description }}
		</p1>
	</div>
<!-- Removed reviews for the time being -->
	
</article>
{% if cast %}
<aside>
	<h2>
		Cast
	</h2>
	<table>
		<tr>
			{% for castMember in cast %}
			<th>
				<div Class="castMember">
					<!-- this section displays an entry for the cast list -->
					<img src="{{ MEDIA_URL }}{{ castMember.imgFile }}" alt="thumbnail", width = 200px, height = 300px>
					<h4>
						{{ castMember.name }} as {{ castMember.character }}
					</h4>
				</div>
			</th>
			{% endfor %}
		</tr>
	</table>
</aside>
{% endif %}
{% endblock %}