{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	Top Shows
{% endblock %}

{% block section_block %}
<article>
		<div class="countdown entry">
			<!-- this section displays a top show entry -->
			<img src="thumbnail.jpg" alt="thumbnail">
			<h3>
				number
			</h3>
			<h2>
				show title
			</h2>
			<p1>
				description
			</p1>
		</div>
	<table>
		<tr>
			<th>
			<div class="countdownEntry10">
				<!-- this section displays a top show entry -->
				<img src="thumbnail.jpg" alt="thumbnail">
				<h3>
					number
				</h3>
				<h2>
					show title
				</h2>
				<p1>
					description
				</p1>
			</div>
			</th>
			<th>
				<div class="countdownEntry9">
					<!-- this section displays a top show entry -->
					<img src="thumbnail.jpg" alt="thumbnail">
					<h3>
						number
					</h3>
					<h2>
						show title
					</h2>
					<p1>
						description
					</p1>
				</div>
			</th>
		</tr>
		<tr>
			<th>
			<div class="countdownEntry8">
				<!-- this section displays a top show entry -->
				<img src="thumbnail.jpg" alt="thumbnail">
				<h3>
					number
				</h3>
				<h2>
					show title
				</h2>
				<p1>
					description
				</p1>
			</div>
			</th>
			<th>
				<div class="countdownEntry7">
					<!-- this section displays a top show entry -->
					<img src="thumbnail.jpg" alt="thumbnail">
					<h3>
						number
					</h3>
					<h2>
						show title
					</h2>
					<p1>
						description
					</p1>
				</div>
			</th>
		</tr>
		<tr>
			<th>
			<div class="countdownEntry6">
				<!-- this section displays a top show entry -->
				<img src="thumbnail.jpg" alt="thumbnail">
				<h3>
					number
				</h3>
				<h2>
					show title
				</h2>
				<p1>
					description
				</p1>
			</div>
			</th>
			<th>
				<div class="countdownEntry5">
					<!-- this section displays a top show entry -->
					<img src="thumbnail.jpg" alt="thumbnail">
					<h3>
						number
					</h3>
					<h2>
						show title
					</h2>
					<p1>
						description
					</p1>
				</div>
			</th>
		</tr>
		<tr>
			<th>
			<div class="countdownEntry4">
				<!-- this section displays a top show entry -->
				<img src="thumbnail.jpg" alt="thumbnail">
				<h3>
					number
				</h3>
				<h2>
					show title
				</h2>
				<p1>
					description
				</p1>
			</div>
			</th>
			<th>
				<div class="countdownEntry3">
					<!-- this section displays a top show entry -->
					<img src="thumbnail.jpg" alt="thumbnail">
					<h3>
						number
					</h3>
					<h2>
						show title
					</h2>
					<p1>
						description
					</p1>
				</div>
			</th>
		</tr>
		<tr>
			<th>
			<div class="countdownEntry2">
				<!-- this section displays a top show entry -->
				<img src="thumbnail.jpg" alt="thumbnail">
				<h3>
					number
				</h3>
				<h2>
					show title
				</h2>
				<p1>
					description
				</p1>
			</div>
			</th>
			<th>
				<div class="countdownEntry1">
					<!-- this section displays a top show entry -->
					<img src="thumbnail.jpg" alt="thumbnail">
					<h3>
						number
					</h3>
					<h2>
						show title
					</h2>
					<p1>
						description
					</p1>
				</div>
			</th>
		</tr>
	</table>
	
</article>
{% endblock %}