{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
	Top Shows
{% endblock %}

{% block section_block %}
{% if popular %}

<article>
	<table>
		<tr>
	{% for pop in popular %}
	<th>
	<div class = "popularShow">
		<h2>
			{{ pop.name }}
		</h2>
		<img src = "{{ MEDIA_URL }}{{ pop.imgFile }}", width = 200px, height = 300px>
		<p> {{ pop.overview }}</p>
	</div>
	</th>
	{% endfor %}
	</tr>
	</table>
</article>
{% else %}
<p>no top shows available for display</p>
{% endif %}
{% endblock %}